
.container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    gap: 10px;
    
}



.box{
    height: 200px;
    /* width: 100%; */
    /* width: 700px; */
    width: 100%;
    background-color: lightcoral;
}


                                                              /* Responsive part*/
                                                             /* Small Responsive start */
@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
    }
}


                                                           /* Medium responsive start */

@media screen and (min-width:577px) and (max-width: 820px){
    .container{
        background-color: aquamarine;
        flex-direction: column;
    }

    .box{
        background-color: blue;
    }
    
}